* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* Theme colors */
html {
  --color-dark: #12141f;
  --color-blue: #3d5af1;
  --color-lightblue: #22d1ee;
  --color-light: #e2f3f5;
}

body {
  background-color: #f2f2f2;
  min-height: 100vh;
}


/* Header */
header {
  margin-bottom: 60px;
  background-color: var(--color-dark);
  z-index: 1;
  padding-right: 20px;
}

#login {
  color: var(--color-lightblue);
  border: 1px solid var(--color-lightblue);
}
#login:hover {
  background-color: var(--color-blue);
  color: white;
  border: 1px solid var(--color-blue);
}

.logo-text {
  color: var(--color-light)
}

a.nav-link:link, a.nav-link:visited, a.logo-text:link, a.logo-text:visited {
  color: var(--color-light)
}

.mobileMenu-toggle {
  display: none;
}

.menu-icon {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: 1px solid var(--color-lightblue);
  cursor: pointer;
  color: var(--color-lightblue);
}

.menu-icon:hover {
  color: var(--color-light);
  background-color: var(--color-blue);
  border: none;
}

.main-menu {
  width: 100%;
}

#settings {
  height: 40px;
  width: 40px;
  background-color: var(--color-lightblue);
  border-radius: 20px;
  color: var(--color-dark);
  cursor: pointer;
}

#settings:hover {
  background-color: var(--color-blue);
}

a.logout:link, a.logout:visited {
  color: #666;
}


/* Hero image */
.tagline {
  font-size: 22px;
}

.banner-img {
  height: 600px;
  padding: 20px;
}


/* Home page */
a.home-card-link:link {
  text-decoration: none;
}

.home-card {
  border: 1px solid white;
}

.home-card:hover {
  border: 1px solid var(--color-lightblue);
}


/* On every page */

.main-header {
  margin-bottom: 40px;
}

.main-heading {
  margin: 0 40px 0 0;
}

.wiki-container {
  width: 1200px;
  max-width: 1200px;
}

.main-content {
  width: 100%;
}

section {
  padding: 20px;
}

section h2 {
  margin-bottom: 40px;
}


/* Login */
.loginForm {
  padding-top: 140px;
}

a.signUpLink:link, a.signUpLink:visited, a.loginLink:link, a.loginLink:visited {
  color: var(--color-blue)
}

form.signup,
form.login {
  margin-top: 50px;
}


/* Resources */
#resources {
  padding-top: 140px;
}

.empty-message {
  font-size: 16px;
}

.card-image-container {
  background-color: var(--color-blue);
  height: 200px;
  overflow: hidden;
}

.card-image {
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.card-title {
  height: 40px;
  overflow: hidden;
  margin-bottom: 10px;
}

.card-description {
  height: 120px;
  margin-top: 0;
  overflow: hidden;
}

.go-button {
  height: 32px;
  width: 32px;
  background-color: var(--color-lightblue);
  color: white;
  padding: 6px;
  border: none;
  margin: 0;
}

.go-button:hover {
  background-color: var(--color-blue);
}

#resource-select {
  width: 300px;
}

#addButton {
  float: right;
  color: white;
  background-color: var(--color-lightblue);
  border: none;
}

#addButton:hover {
  background-color: var(--color-blue);
}

#addResource, #addField {
  max-width: 600px;
}


/* Fields */
#fields {
  padding-top: 140px;
}

#fieldTable {
  width: 100%;
}


/* User Profile */
#userSection {
  padding-top: 140px;
}

.userProfile {
  padding: 0;
}
/*Book Search */
#bookSearch {
  padding-top: 140px;
}

.user-card-header, .user-card-body, .user-card-footer {
  padding: 20px;
}

#profileImage {
  cursor: pointer;
  max-height: 200px;
  width: auto;
}

#profile-container {
  padding: 0;
  margin-bottom: 10px;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-color: var(--color-blue);
}

.book-search-form {
  background-color: white;
}

/* Job Search */
#jobSearch {
  padding-top: 140px;
}

.job-search-form {
  background-color: white;
}

/* #jobsearchbody{
  text-align:center;
  font-size: 20px;
  color:#333;
  background:#f2f2f2;
} */

/* #heading{
  padding-top:5%;
}

#random{
  padding:25% 0 2% 0;
}

#search-bar{
  padding:0 0 2% 0;
  margin-left:25%;
  margin-right:25%; 
  color:#333;  
}
 */


/* USER PROFILE EDIT */

#imageUpload
{
    display: none;
}




/* Media Queries */
/* Small devices (Tablets and mobile, 768px and below) */
@media only screen and (max-width: 768px) {

  .desktopMenu-toggle {
    display: none;
  }

  .mobileMenu-toggle {
    display: block;
  }

#resources, .loginForm, #jobSearch, #fields, #bookSearch {
  padding-top: 110px;
}

  .fields-select {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .job-search-form {
    margin-top: 10px;
  }

}

.book-search-form {
  margin-top: 10px;
}

/* Smaller devices (Mobile, 768px and below) */
@media only screen and (max-width: 639px) {

  .card-title {
    height: auto;
  }
  
  .card-description {
    height: auto;
  }

}