* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --color-dark: #12141f;
  --color-blue: #3d5af1;
  --color-lightblue: #22d1ee;
  --color-light: #e2f3f5;
}

body {
  background-color: #f2f2f2;
  min-height: 100vh;
}

header {
  margin-bottom: 60px;
  background-color: var(--color-dark);
}

#login {
  color: var(--color-lightblue);
  border: 1px solid var(--color-lightblue);
}

.tagline {
  font-size: 22px;
}

nav a:link {
  color: var(--color-light)
}

.banner-img {
  height: 600px;
}

.main-menu {
  width: 100%;
}

.main-header {
  margin-bottom: 40px;
}

.main-heading {
  margin: 0 40px 0 0;
}

.wiki-container {
  width: 1200px;
  max-width: 1200px;
}

.main-content {
  width: 100%;
}

section {
  padding: 20px;
}

section h2 {
  margin-bottom: 40px;
}

.home-card:hover {
  border: 1px solid var(--color-lightblue);
}

form.signup,
form.login {
  margin-top: 50px;
}

#settings {
  height: 40px;
  width: 40px;
  background-color: #333;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}



/* Resources */
.go-button {
  height: 32px;
  width: 32px;
  background-color: #333;
  color: white;
  padding: 6px;
  border: none;
}

#resource-select {
  width: 300px;
}

#addButton {
  float: right;
}

#addResource, #addField {
  max-width: 600px;
}


/* Fields */
#fieldTable {
  width: 100%;
}


/* User Profile */
.userProfile {
  margin-right: 20px;
}


/* Job Search */
#jobsearchbody{
  text-align:center;
  font-family: 'ABeeZee';
  font-size: 20px;
  color:#fff;
  background:#50394c;
}

#heading{
  padding-top:5%;
}

#random{
  padding:25% 0 2% 0;
}

#search-bar{
  padding:0 0 2% 0;
  margin-left:25%;
  margin-right:25%;  
}

a:link,a:visited{text-decoration:none; color:#50394c;} 

/* USER PROFILE EDIT */

#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container img {
    width: 150px;
    height: 150px;
}